.main {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
}
.main__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-pink-light);
}
.main__header > h1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  width: 100%;
  padding-bottom: 5px;
}
.main__header > h1 > span:last-of-type {
  margin-left: 10px;
  flex: 1;
  border-bottom: 1px solid var(--main-color);
}
.main__header > p {
  font-size: 0.9rem;
  color: gray;
}
.main__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}
